#loadOverlay {
    display: none;
}
.cssLoading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.alertify .ajs-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* { margin: 0; padding: 0; }

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html,
body { height: 100%; }

#wrap { min-height: 100%; }

input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

$footer-height: 90px !default;

#main, #main:empty ~ noscript {
    isolation: isolate;
    min-height: 100%;
    padding-bottom: $footer-height + 10px;
}  /* must be same height as the footer */

footer {
    position: relative;
    margin-top: -$footer-height - 10px; /* negative value of footer height */
    height: $footer-height + 10px;
    font-size: 15px;
    clear: both;
}

footer .inner { padding-bottom: 10px; }
footer .row { height: $footer-height; }

/* Opera Fix */
body::before {/* thanks to Maleika (Kohoutec) */
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;/* thank you Erik J - negate effect of float */
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
    <style type="text/css">
        #wrap {display: table;height: 100%}
    </style>
<![endif]-->

*/

/*
Theme Name: MeatKing
Version:    1.14.20
Author:     ThemeWagon

Tiny bug when width <780px, there an horizontal scrollbar

TABLE OF CONTENTS
    01 - General and Typography
    02 - Header
    03 - Navigation
    04 - Parallax
    05 - What/How
    06 - Form
    07 - Footer
    08 - Responsive styles
    09 - Ribbon
    10 - Modal
    11 - Readability
    12 - Widgets
    13 - Tooltip
*/

/* ==========================================================================
    01. General and Typography
========================================================================== */

@font-face {
    font-family: kreon;
    src: url(../fonts/Kreon-VariableFont_wght.ttf) format('truetype');
}

html {
    font-size: 14px;
}

body {
    font-family: kreon, serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.light-wrapper section {
    position: relative;
    padding: 0;
    background: #f0a830;
    color: #fff;
    text-align: center;
}

.light-wrapper section::before,
.light-wrapper section::after,
.dark-wrapper section::before,
.dark-wrapper section::after {
    position: absolute;
    content: '';
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/* Separators Styles */
.ss-style-top::before {
    left: 0;
    width: 100%;
    height: 30px;
    -webkit-background-size: 25px 100%;
    -moz-background-size: 25px 100%;
    -o-background-size: 25px 100%;
    background-size: 25px 100%;
    top: 0;
    background-image: linear-gradient(315deg, #fff 50%, transparent 50%), linear-gradient(45deg, #fff 50%, transparent 50%);
    margin-top: -30px;
    z-index: 1;
}

.ss-style-bottom::before {
    left: 0;
    width: 100%;
    height: 30px;
    -webkit-background-size: 25px 100%;
    -moz-background-size: 25px 100%;
    -o-background-size: 25px 100%;
    background-size: 25px 100%;
    top: 0;
    background-image: linear-gradient(583deg, #fff 50%, transparent 50%), linear-gradient(136deg, #fff 50%, transparent 50%);
    margin-top: 0;
    z-index: 1;
}

#main .light-wrapper:last-of-type .ss-style-bottom {
    display: none;
}

[v-cloak] {
    display: none;
}

.v-rcloak {
    display: none;
}

[v-cloak] ~ .v-rcloak {
    display: block;
}

a.link {
    cursor: pointer;
}

/* ==========================================================================
    03. Navigation
========================================================================== */
#menu {
    background: rgba(33, 45, 57, 0.8);
    margin-bottom: 0;
}

nav#navbar {
    width: 100%;
    display: flex;
}

.navbar-brand h2 {
    margin-top: 0;
    font-weight: bold;
    color: white;
}

.navbar-brand {
    padding-top: 8px;
    padding-bottom: 0;
}

.navbar .navbar-nav > li > a {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: white;
    font-weight: bold;
    padding: 15px;
    line-height: 20px;
    display: block;
}

.navbar .navbar-nav > li > a:hover,
.narbar .navbar-nav > .active > a {
    background: #a00;
    color: white;
    text-shadow: none;
}

.nav.navbar-nav-left {
    display: inline-flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 60px;
}

.nav.navbar-nav-right {
    display: inline-flex;
    justify-content: flex-start;
    flex: 1;
    margin-left: 60px;
}

#logo {
    position: absolute;
    display: block !important;
    width: 110px;
    left: 50%;
    margin-left: calc(-55px - 0.5rem);/* Don't forget half the padding of .navbar */
    background: rgba(33, 45, 57, 1);
    -webkit-border-radius: 0 0 100% 100%;
    -moz-border-radius: 0 0 100% 100%;
    border-radius: 0 0 100% 100%;
    padding: 12px;
    top: 0;
    background-image: url(../images/logo.webp);
    background-size: 86px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110px;
}
body.nowebp #logo {
    background-image: url(../images/logo.png);
}

#logo a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* ==========================================================================
    06. Content
========================================================================== */
#content {
    padding-top: 140px;
    padding-bottom: 60px;
}

/* ==========================================================================
    07. Footer
========================================================================== */
.dark-wrapper {
    background: #b50119;
    color: white;
    font-weight: bold;
}

.dark-wrapper .ss-style-top::before {
    background-image: linear-gradient(315deg, #b50119 50%, transparent 50%), linear-gradient(45deg, #b50119 50%, transparent 50%);
}

.themeBy {
    color: #a00;
    background: white;
}

footer .row {
    display: flex;
}

/* ==========================================================================
    08. Responsive styles
========================================================================== */
@media (max-width: 767px) {
    .navbar {
        min-height: 30px;
    }

    #logo {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    body.scrolled #logo {
        width: 60px;
        margin-left: -30px;
    }

    .navbar-nav > li.btn-group {
        margin: 0 10px;
    }
}

@media (min-width: 768px) {
    html .navbar-nav {
        float: none !important;
        width: 100%;
        text-align: center;
        margin-left: -16px;
    }

    html:lang(en) .navbar-nav {
        margin-left: 13px;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }

    .navbar-nav > li.btn-group {
        margin: 0 15px;
    }
}

/* ==========================================================================
    09. Ribbon
========================================================================== */
#ribbon {
    display: none;
}

@media screen and (min-width: 768px) {
    #ribbon {
        position: fixed;
        display: block;
        top: -30px;
        right: 0;
        width: 105px;
        overflow: visible;
        height: 135px;
        z-index: 9999;
    }

    #ribbon a {
        background: #a00;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        line-height: 20px;
        transition: background 0.5s, color 0.5s;
        width: 200px;
        position: absolute;
        top: 55px;
        right: -50px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }

    #ribbon a:hover {
        background: #c00;
        color: #fff;
    }

    #ribbon a::before,
    #ribbon a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 1px;
        background: #fff;
    }

    #ribbon a::after {
        bottom: 1px;
        top: auto;
    }
}

/* ==========================================================================
    10. Modal
========================================================================== */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* ==========================================================================
    11. Readability
========================================================================== */
.btn-outline-success {
    color: #2c642c;
    border-color: #2c642c;
}
.btn-success,.btn-outline-success:not([disabled]):hover {
    background-color: #2c642c;
    border-color: #2c642c;
}

.btn-outline-danger {
    color: #a82824;
    border-color: #a82824;
}
.btn-danger,.btn-outline-danger:not([disabled]):hover {
    background-color: #a82824;
    border-color: #a82824;
}

.btn-outline-warning {
    color: #9c5a05;
    border-color: #9c5a05;
}
.btn-warning,.btn-outline-warning:not([disabled]):hover {
    background-color: #9c5a05;
    border-color: #9c5a05;
    color: #fff;
}

.btn-primary,.btn-outline-primary:not([disabled]):hover {
    background-color: #275c8b;
    border-color: #275c8b;
}

.btn[disabled] {
    opacity: 0.35;
}

.table-hover tbody tr:focus-within {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.175);
}

/* ==========================================================================
    12. Widgets
========================================================================== */
.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

@font-face {
    font-family: Cookie;
    src: url(../fonts/Cookie-Regular.ttf) format('truetype');
}

.bmc-button {
    height: 60px;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    background-color: #DD6F36;
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 0 24px 0 calc(24px + 25px + 8px);
    font-size: 22px;
    letter-spacing: 0.6px;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    font-family: 'Cookie', cursive;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    transition: 0.3s all linear;
    background-image: "../images/BMC Logo - Black.png";
    background-image: image-set("../images/BMC Logo - Black.webp", "../images/BMC Logo - Black.png");
    background-size: 25px 33px;
    background-repeat: no-repeat;
    background-position: 24px;
}
