/* ==========================================================================
    02. Header
========================================================================== */
#header {
    background-image: url(../images/gifts-1.webp);
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
body.nowebp #header {
    background-image: url(../images/gifts-1.jpg);
}

#header .center {
    position: relative;
    z-index: 1;
    color: white;
    padding: 70px 0;
}

#header .bottom {
    color: white;
}

#header .center .slogan {
    font-size: 26px;
    text-transform: uppercase;
}

#header .banner h1 {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background: #a00;
    padding: 0 18px;
}

#header .subtitle h4 {
    display: inline-block;
    background: white;
    color: #a00;
    font-size: 38px;
    padding: 0 15px;
}

#header .bottom {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

#header .bottom a {
    font-size: 36px;
    color: whitesmoke;
    position: relative;
    top: -5px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 33, 5, 0.2);
    z-index: 0;
}

/* ==========================================================================
    04. Parallax
========================================================================== */
.parallax {
    background: url(../images/gifts-2.webp) fixed no-repeat center center;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    color: #fff;
}
body.nowebp .parallax {
    background-image: url(../images/gifts-2.jpg);
}

.parallax .inner {
    padding-top: 130px;
    padding-bottom: 130px;
}

.parallax.parallax2 {
    background-image: url(../images/gifts-3.webp);
}
body.nowebp .parallax.parallax2 {
    background-image: url(../images/gifts-3.jpg);
}

/* ==========================================================================
    05. What/How
========================================================================== */
.light-wrapper {
    background: #fbfbfb;
}

.light-wrapper .inner {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}

.main.lead {
    margin-bottom: 80px;
}

.lead {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2e2e2e;
    position: relative;
}

.lead::after {
    position: absolute;
    content: ' ';
    background: #a00;
    width: 80px;
    height: 3px;
    bottom: -22px;
    left: 50%;
    margin-left: -40px;
}

.media {
    min-height: 128px;
}

.media-icon-left {
    background-position-x: left;
    padding-left: 128px;
}
.media-icon-right {
    background-position-x: right;
    padding-right: 128px;
}

.media-calendar-icon {
    background-image: url("../images/calendar-icon.png");
    background-image: image-set(url("../images/calendar-icon.webp"), url("../images/calendar-icon.png"));
    background-repeat: no-repeat;
}
.media-user-icon {
    background-image: url("../images/user-icon.png");
    background-image: image-set(url("../images/user-icon.webp"), url("../images/user-icon.png"));
    background-repeat: no-repeat;
}
.media-paper-icon {
    background-image: url("../images/paper-icon.png");
    background-image: image-set(url("../images/paper-icon.webp"), url("../images/paper-icon.png"));
    background-repeat: no-repeat;
}
.media-mail-icon {
    background-image: url("../images/mail-icon.png");
    background-image: image-set(url("../images/mail-icon.webp"), url("../images/mail-icon.png"));
    background-repeat: no-repeat;
}
.media-clock-icon {
    background-image: url("../images/clock-icon.png");
    background-image: image-set(url("../images/clock-icon.webp"), url("../images/clock-icon.png"));
    background-repeat: no-repeat;
}

.media-body {
    width: auto;
    text-align: left;
    margin: auto;
}

.media-heading {
    font-weight: bold;
}

div.card-body {
    font-style: italic;
}

div.card-body::first-line {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}